<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"] - ResponsiveAdminDashboard_UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
          rel="stylesheet">
</head>
<body>


    <div class="container-custom" >
        <aside id="aside">
            <div class="top">
                <div class="logo">
                    <img src="~/images/logo.png" alt="" />
                    <h3>Building <span class="danger">Your</span> <span class="hightlight">Creative </span> </h3>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="#">
                    <span class="material-icons-sharp">
                        grid_view
                    </span>
                    <h3>Dashboard</h3>
                </a>



                <a href="#" class="active">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Customers</h3>
                </a>



                <a href="#">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                    <h3>Orders</h3>
                </a>



                <a href="#">
                    <span class="material-icons-sharp">
                        insights
                    </span>
                    <h3>Analytics</h3>
                </a>



                <a href="#">
                    <span class="material-icons-sharp">
                        mail_outline
                    </span>
                    <h3>Messengers  <span class="message-count">26</span></h3>

                </a>



                <a href="#">
                    <span class="material-icons-sharp">
                        inventory
                    </span>

                    <h3>Products</h3>
                </a>


                <a href="#">
                    <span class="material-icons-sharp">
                        report_gmailerrorred
                    </span>
                    <h3>Reports</h3>
                </a>



                <a href="#">
                    <span class="material-icons-sharp">
                        settings
                    </span>
                    <h3>Settings</h3>
                </a>

                <a href="#">
                    <span class="material-icons-sharp">
                        add
                    </span>
                    <h3>Add Product</h3>
                </a>

                <a href="#">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>


            </div>
        </aside>





        @*Body Section*@

        <main>

            @RenderBody()

        </main>


        <div class="right">

              <div class="top">
        <button id="menu-btn">
            <span class="material-icons-sharp">
                menu
            </span>
        </button>
        <div class="theme-toggler ">
            <span class="material-icons-sharp active">
                light_mode
            </span>

            <span class="material-icons-sharp">
                dark_mode
            </span>

        </div>

        <div class="profile">
            <div class="info">
                <p>Hey <b>Kelvin Long</b></p>
                <small class="text-muted">Admin</small>
            </div>
            <div class="profile-photo">
                <img src="~/images/p4.png" alt="" />
            </div>
        </div>
    </div>


            @if (IsSectionDefined("RightSection"))
            {
                  @RenderSection("RightSection",required:true);
            }
          
        </div>

    </div>





    @*Footer*@

    @* <footer class="border-top footer text-muted">
        <div class="container">
        &copy; 2022 - ResponsiveAdminDashboard_UI
        </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
